# Level 2 - Task 3: Feature Engineering

# Overview of Problem Statement

To improve model performance and gain deeper insights, new features must be derived from existing data.

# Objective

1.Extract new features such as the length of restaurant name and address

2.Create binary flags for table booking and online delivery availability

3.Save a clean, feature-enhanced dataset for further analysis

# Importing necessary libraries

In [1]:
## Import Libraries
import pandas as pd

#  Data collection

In [2]:
##  Load Dataset
df = pd.read_csv("Dataset .csv")
df.dropna(subset=['Cuisines'], inplace=True)
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [3]:
## Extract Length of Restaurant Name and Address
df['Restaurant_Name_Length'] = df['Restaurant Name'].apply(len)
df['Address_Length'] = df['Address'].apply(len)

In [4]:
print("Sample of new length features:")
df[['Restaurant Name', 'Restaurant_Name_Length', 'Address', 'Address_Length']].head()

Sample of new length features:

,Restaurant Name,Restaurant_Name_Length,Address,Address_Length
0,Le Petit Souffle,16,"Third Floor, Century City Mall, Kalayaan Avenu...",71
1,Izakaya Kikufuji,16,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",67
2,Heat - Edsa Shangri-La,22,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...",56
3,Ooma,4,"Third Floor, Mega Fashion Hall, SM Megamall, O...",70
4,Sambo Kojin,11,"Third Floor, Mega Atrium, SM Megamall, Ortigas...",64

In [5]:
## Encode Categorical Variables into New Features
df['Has_Table_Booking_Flag'] = df['Has Table booking'].apply(lambda x: 1 if x.lower() == 'yes' else 0)
df['Has_Online_Delivery_Flag'] = df['Has Online delivery'].apply(lambda x: 1 if x.lower() == 'yes' else 0)

In [6]:
print("\nSample of new encoded features:")
df[['Has Table booking', 'Has_Table_Booking_Flag', 'Has Online delivery', 'Has_Online_Delivery_Flag']].head()

Sample of new encoded features:

,Has Table booking,Has_Table_Booking_Flag,Has Online delivery,Has_Online_Delivery_Flag
0,Yes,1,No,0
1,Yes,1,No,0
2,Yes,1,No,0
3,No,0,No,0
4,Yes,1,No,0

In [7]:
## Step 5: Save the Modified Dataset
df.to_csv("Dataset_Feature_Engineered.csv", index=False)
print("\n Feature-engineered dataset saved as 'Dataset_Feature_Engineered.csv'")

 Feature-engineered dataset saved as 'Dataset_Feature_Engineered.csv'

# Conclusion

1.Successfully created new numerical features (Restaurant_Name_Length, Address_Length)

2.Encoded categorical data into meaningful binary flags (Has_Table_Booking_Flag, Has_Online_Delivery_Flag)

3.Saved a feature-engineered dataset for use in predictive modeling and advanced analysis